# Ignore CryptoKasm
ck

# Ignore .settings.conf
settings.conf

# Ignore docker-compose.yml
docker-compose.yml

# Ignore Latest Snapshot
latest-snapshot

# Ignore Vault
vault

# Ignore Snapshot Zip
9c-main-snapshot.zip
